* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
	outline: none;
}

a {
	text-decoration: none;
	color: #47475F;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	overflow: hidden;
	background-color: #222;
	font-family: sans-serif;
	justify-content: space-around;
	align-items: center;
}

.search-user {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.search-user #avatar {
	width: 100%;
	height: 300px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}

.search-user #avatarName {
	width: 300px;
	height: 50px;
	text-align: center;
	color: #47475F;
	border: none;
	border-top: none;
	outline: none;
	background-color: transparent;
	font-size: 30px;
	padding-top: 20px;
}


.search-user #avatarName::selection {
	color: white;
	background-color: #47475F;
}

.search-user #avatarName::placeholder {
	transition: .4s;
	color: #47475F;
}

.search-user #avatarName:focus::placeholder,.search-user #avatarName:hover::placeholder {
	opacity: 0 !important;
}

#more-user-info {
	width: 100%;
	height: 50px;
}

.user-info {
	width: 100%;
	height: 200px;
	margin-top: 15px;
	border: none;
}

.user-info td:first-child {
	text-align: left;
}

.user-info td:last-child {
	text-align: right;
}

.user-info td {
	transition: .5s;
	font-size: 20px;
	color: #47475F;
}

.user-info tr {
	border-left: 2px solid transparent;
}

.user-info tr:hover {
	border-left-color: #47475F;
}

.other-user-info {
	position: relative;
	width: 60%;
	height: 100%;
	padding: 25px 0;
}

.other-user-info div {
	position: absolute;
	width: 100%;
	height: 48%;
}

.other-user-info div ul[id$=list] {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;
	font-size: 20px;;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.other-user-info div ul[id$=list]::-webkit-scrollbar {
	width: 1px;
}

.other-user-info div ul[id$=list]::-webkit-scrollbar-thumb {
	background-color: #47475F;
	border-right: none;
}

.other-user-info div ul[id$=list] li {
	margin: 5px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: space-between;
	color: #47475F;
}

.other-user-info div ul[id$=list] li img {
	min-width: 65px;
	max-width: 65px;
	min-height: 65px;
	max-height: 65px;
	border-radius: 50%;
}

.other-user-info div ul[id$=list] li .name {
	margin-left: 10px;
}

.other-user-info div ul[id$=list] .subscription {
	margin: 10px;
	padding: 10px 20px;
	color: #333344;
	border-radius: 5px;
	background-color: #47475F;
}

.other-user-info .user-followers {
	top: 0;
	left: 0;
}

.other-user-info .user-subscriptions {
	bottom: 0;
	left: 0;
}